body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #FFD586;
   padding: 30px 20px;
  text-align: center;
  color: black;
  align-content: space-between;
  text-transform: capitalize;
  flex-direction: row;
  justify-content: center;

}
.divs{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid red;
  justify-content: space-between;git 
}
.btn{
  background-color: #FFAAAA;
  border-radius: .5px;
  border: none;
 
}

